* {
  margin: 0;
  font-size: 16px;
}
body {
  background-color: #000000;
  color: #ffffff;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-game {
  display: grid;
  grid-template-areas: "green red" " yellow blue"; /* cada conjunto é uma linha */
  grid-gap: 10px;
  border: 10px solid #dddddd;
  background-color: #dddddd;
  border-radius: 100%;
  width: 500px;
  height: 500px;
}

.title {
  font-size: 2rem;
  color: aqua;
  margin: 10px;
}

.blue {
  grid-area: blue;
  background-color: blue;
  border-bottom-right-radius: 100%;
}
.yellow {
  grid-area: yellow;
  background-color: yellow;
  border-bottom-left-radius: 100%;
}
.red {
  grid-area: red;
  background-color: red;
  border-top-right-radius: 100%;
}
.green {
  grid-area: green;
  background-color: green;
  border-top-left-radius: 100%;
}

.selected {
  opacity: 0.4;
  border: 2.5px solid aqua;
}
